<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de vuelos</title>
</head>
<body>
<h1>Lista de Vuelos</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
    </tr>
    {% for flight in flights %}
    <tr>
        <td>{{ flight.id }}</td>
        <td>
            {% if flight.type == 'Internacional' %}
            <strong>{{ flight.flight_name }}</strong>
            {% else %}
            {{ flight.flight_name }}
            {% endif %}
        </td>
        <td>{{ flight.flight_type }}</td>
        <td style="color: {% if flight.flight_type == 'Nacional' %} blue {% else %} black {% endif %} ;">
            {{ flight.flight_price }}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>